.right>.wrap{
 background: rgba(0,0,0,0.7);
}

.wrap{
  background-image: linear-gradient(to left,rgba(0,0,0,.4), rgba(0,0,0,.8))
    ,url("/assets/leave_message.jpg");
  background-size: cover;
  background-position: center 20%;
  height: 400px;
  border-radius: 2rem;
  color: white;
  font-size: 15px;
  box-shadow: 0 10px 20px black;
}

i.fa-solid{
  width: 4rem;
  display: block;
  font-size: 4rem;
  margin: 1rem auto;
}

.inner-wrap{
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}

section{
  background: lightgrey;
}

h5,h4,h2, p{
  text-align: center;
}

.submit-btn{


}

input{
  font-size: 1rem;
  padding: 0.2rem;
}

small{
  color: red;
}

.title-content-wrap{
  display: block;
  justify-content: center;
}
.title-content-wrap>*{
  margin-right: 0.5rem;
}

@media (max-width: 1024px) {

  .left{
    margin-bottom: 2rem;
  }
  h4{
    font-size: 1rem;
  }
  h5{
    font-size: 1rem;
  }
  .title-content-wrap{
    display: flex;
  }
}

