<section class="contact">

  <div class="container">
    <app-section-title #sectionTitleComponent></app-section-title>
    <div class="row">
      <div class="left col-lg-6">
      <div class="wrap ">
      <div class="inner-wrap">

        <h2>Contact</h2>
        <i class="fa-solid fa-address-book"></i>

        <h4>Pastor</h4>
        <h5>Tel</h5>
        <p>(253)-815-6925</p>
        <h5>E-mail</h5>
        <p>pastorjim
          @sunriseunitedmethodist.org</p>

        <h4>Office Administrator</h4>
        <h5>Tel</h5>
        <p>(253) 815-6925</p>
        <h5>email</h5>
        <p>office
          @sunriseunitedmethodist.org</p>
      </div>

      </div>


      </div>
      <div class="right col-lg-6">
        <div class="wrap ">
          <div class="inner-wrap">
            <h1>Leave Message</h1>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Subject</label>
                <input  class="form-control" id="exampleInputPassword1">
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contents</label>
                <textarea  class="form-control" id=""></textarea>
              </div>

              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Subscribe?</label>
              </div>
              <button type="submit" class="btn btn-outline-primary submit-btn">Submit</button>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
