<section class="contact">

  <div class="container">
    <app-section-title #sectionTitleComponent></app-section-title>
    <div class="row">
      <div class="left col-lg-6">
      <div class="wrap ">
      <div class="inner-wrap">

        <h2>Contact</h2>
        <i class="fa-solid fa-address-book"></i>
        <div class="row">
          <div class="col-lg-6">
            <h4>Pastor</h4>
            <h5>Tel</h5>
            <p>(253)-815-6925</p>
            <h5>E-mail</h5>
            <p>pastorjim
              @sunriseunitedmethodist.org</p>
          </div>
          <div class="col-lg-6">
            <h4>Office Administrator</h4>
            <h5>Tel</h5>
            <p>(253) 815-6925</p>
            <h5>email</h5>
            <p>office
              @sunriseunitedmethodist.org</p>
          </div>
        </div>

      </div>

      </div>


      </div>
      <div class="right col-lg-6">
        <div class="wrap ">
          <div class="inner-wrap">
            <h1>Leave Message</h1>
            <form (ngSubmit) = leaveMessage(leaveMessageForm.value) #leaveMessageForm = "ngForm">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>

                <input #emailAddress="ngModel" name="emailAddress" required ngModel type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div><small *ngIf="emailAddress.invalid && emailAddress.touched">This is required field</small></div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Subject</label>

                <input #subject="ngModel" name="subject" required ngModel class="form-control" id="exampleInputPassword1">
                <div><small *ngIf="subject.invalid && subject.touched">This is required field</small></div>
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contents</label>
                <textarea #message="ngModel" name="message"  required ngModel class="form-control" id=""></textarea>
                <div><small *ngIf="message.invalid && message.touched">This is required field</small></div>
              </div>

              <button type="submit" class="btn btn-outline-primary submit-btn" [disabled]="!leaveMessageForm.valid">Submit</button>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
