<div *ngIf = "images && images.length >0" class="carousel-container" [ngClass]="{'box-shadow': boxShadow ==='black'}">
  <!--  <ng-container *ngFor="let image of images; let i = index">-->
  <img *ngFor="let image of images; let i = index" [src]="image.url" [alt]="image.imageAlt"
       [ngClass]="{'image-active':selectedIndex ===i}" class="car-fade">
  <div *ngFor="let image of images; let i = index" class="right"  [ngClass]="{'image-active':selectedIndex ===i}">
    <div class="text-wrap">
      <div class="title"><p>{{image.title}}</p></div>
      <div [ngStyle]="{'color': subTitleColor}"><p><small>"&nbsp;{{image.subTitle}}&nbsp;"</small></p></div>
      <div class="poster" *ngIf="image.poster">- {{image.poster}}</div>
<!--      <button class="btn-1"><h5>{{image.buttonText}}</h5></button>-->
    </div>
  </div>
  <!--  </ng-container>-->



  <div *ngIf="indicators" class="carousel-dot-container">
    <span *ngFor="let dot of images let i = index" class="dot"
          [ngClass]="{'active': selectedIndex === i}"
          (click)="selectImage(i)"></span>
  </div>

  <div *ngIf="controls" class="btn-carousel btn-prev">
    <i (click)="onPrevClick()"
       class="fas fa-arrow-circle-left icon-carousel icon-prev"></i></div>

  <div *ngIf="controls" class="btn-carousel btn-next">
    <i (click)="onNextClick()"
       class="fas fa-arrow-circle-right icon-carousel icon-next"></i></div>
</div>



