<footer class="footer-bar w-[100%]">
  <div class="footer-con h-full">
    <div class="footer_Sitemap">
      <div class="sitemap_title_wrap flex">
        <h1>Sitemap</h1>
      </div>
      <div class="ul_wrap flex">
        <ul class="sitemap_wrap">
          <li><a href="">Visitor Info</a></li>
          <li><a href="">Children & Youth</a></li>
          <li><a href="">Ministries</a></li>
          <li><a href="">News & Activities</a></li>
          <li><a routerLink="/controlPanel">Admin Access</a></li>
        </ul>
<!--        <ul class="sitemap_wrap">-->
<!--          <li><a href="">Contact</a></li>-->
<!--          <li><a href="">Contributors</a></li>-->
<!--          <li><a href="">Admin</a></li>-->
<!--        </ul>-->
      </div>
    </div>
    <div class="direction">
      <div class="direction_wrap">
        <h1>Direction</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2706.6048749348156!2d-122.33502242389933!3d47.282978010269666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54905634558a3399%3A0xfefcd956cb335da7!2sSunrise%20United%20Methodist%20Church!5e0!3m2!1sen!2sus!4v1686801635040!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


    </div>




  </div>
</footer>
