<app-page-title #newsActivitiesTitle></app-page-title>

<section class="section-bg-white">
  <div class="container">
    <app-section-title #eventCalendarSection></app-section-title>

  </div>
  <div class="container calendar-wrap">
    <app-calendar></app-calendar>
  </div>
</section>

<app-section-separator></app-section-separator>

<section class="section-bg-dark">
  <div class="container">
    <app-section-title #serviceArchiveSection></app-section-title>
  </div>
  <app-sermon-archive ></app-sermon-archive>
</section>
<style>
  h1{
    text-align: center;
  }
  img{
    width: 50%;
    height: 300px;
  }
</style>
