<section class="section-bg-white" id="children-youth">

  <div class="container">
    <app-section-title  #sectionTitleComponent></app-section-title>
    <div class="row">
      <div class="col-lg-6 left">
        <div class="wrap">

        </div>
        <app-carousel
          [images] = "images"
          [indicators]="true"
          [controls] = "false"
          [autoSlide] = true
          [slideInterval]=5000
          [boxShadow]= "'black'"
          [subTitleColor]="'white'"
        ></app-carousel>
      </div>
      <div class="col-lg-6 right">
        <div class="wrap">
          <app-right-intro-section #rightIntroSection>
            <p>  At Sunrise we are committed to our children. We have adopted the Pacific Northwest Conference's Youth and Children Policy (58 KB PDF file opens in new window).
              Parents, if you're looking for a church that really cares about your children, check out Sunrise. Our children's classes are divided into preschool and kindergarten through 5th grades.

              This year our children are learning to Grow Proclaim Serve! This curriculum takes the children through the Bible over a three year period. We incorporates Bible stories, activities, crafts, media, and games into a full
              faith experience for the kids. Our goal is to have the kids grown in heart and soul.</p>
          </app-right-intro-section>
        </div>
      </div>
    </div>

  </div>
</section>
