<section>

  <app-section-title #sectionTitleComponent></app-section-title>

  <div class="all">
    <div class="arrows">
      <div class="right"></div>
      <div class="left"></div>
    </div>
    <div class="container">

        <div class="row" >
          <div class="col-lg-5 image-section position-relative">
          <div *ngFor="let image of three_recent_event; let i = index" [ngClass]="{'active': selectedIndex === i}" class="img" [ngStyle]="{'background-image': 'url('+image.url+')'}"></div>
          </div>
          <div class="col-lg-7 description">
            <div class="slider" >
              <div class="slides" #slideTrack>


<!--                slides -->
                <div *ngFor="let image of three_recent_event; let i = index" class="wrap">

                  <div class="title">
                    <h3>{{image.title}}</h3>
                  </div>
                  <div class="day-occurance">
                    <h5>{{image.date}} ~ {{image.end}}</h5>
                    <h5>Every Saturday</h5>
                  </div>

                  <p>
                    {{
                    image.info
                    }}
                  </p>

                </div>


              </div>

            </div>
          </div>


        </div>

    </div>
  </div>

</section>

<style>

  .row{
    box-shadow: 0 10px 20px black;
  }

  .shadow-1{

  }

  .image-section{
    /*background: url("/assets/bible_study.jpg");*/
    height: 500px;
    background-size: cover;
    padding: 1rem;

  }

  .img{
    position: absolute;
    width: 90%;
    height: 100%;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .img.active{
    opacity:1;
  }

  .slider{
    padding: 0 1.5rem;
    overflow: hidden;
  }

  .slides{
    width: 300%;
    display: flex;
    transition: transform 2s ease-in-out;
  }

  .wrap{
    margin-top: 1rem;
    padding: 1rem  2.2rem;
    width: 33%;
  }

  .day-occurance{
    color: #ed4848;
    text-align: right;
    margin: 1rem 2rem;
  }


  @media (max-width: 768px) {
    .image-section{
      height: 200px;
    }

    .shadow-1{
      box-shadow: none;
      border-bottom: 1px solid gray;
    }
    .description{
      padding: 0;
      font-size: 1rem;
    }

  }

</style>

