<section class="visit_info section-bg-white">
<div class="container" >
  <app-section-title #sectionTitleComponent></app-section-title>
  <div class="row">
    <div class="left col-lg-6">
      <img src="assets/jumbotron.jpg" alt=""  id="navPoint">
      <iframe #navPoint  src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d86479.14176373754!2d-122.3728929468229!3d47.363682518270984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d47.442904999999996!2d-122.28472!4m5!1s0x54905634558a3399%3A0xfefcd956cb335da7!2ssunrise%20united%20methodist%20church!3m2!1d47.2829743!2d-122.3324703!5e0!3m2!1sen!2sus!4v1685860241895!5m2!1sen!2sus"
              width="80%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="directions">
      <h5>DIRECTIONS</h5>
      <ul>
        <li><p>From Pacific High Way South turn west onto 356th Street South, travel 0.5 miles and turn right into the Sunrise UMC parking lot on the north side of the road.</p></li>
        <li>From 1st Avenue South turn east onto 356th Street South, travel .01 miles and turn left into the Sunrise UMC parking lot on the north side of the road.</li>
      </ul>
    </div>
    </div>
    <div class="right col-lg-6">

      <div class="wrap">

        <h5>150 S 356th Street • Federal Way WA 98003 </h5>
        <h5><span> (253) 815-6925</span></h5>

        <p>
          At Sunrise United Methodist Church (Sunrise UMC), our mission is to share God's Shining Light by thought, word and deed to all we encounter.

        </p>

        <ul>
          <li>
            <p>
              Sunday Woship starts at 10:00AM, and usually lasts about an hour.
            </p>
          </li>
          <li>
            <p>
              There is a nursery available for children 5 and younger.
            </p>
          </li>
          <li>
            <p>
              United Methodists believe that the elements of Holy Communion or Eucharist comes from Christ and is open to all who believe in Him.
            </p>
          </li>
        </ul>

        <p>
          Here at Sunrise UMC we live the United Methodist vision of "Open Doors, Open Hearts, Open Minds" and "All are Welcome". Please join us after service for coffee, tea and light refreshments. You'll meet welcoming people ready to share their faith, their hearts and their friendship.
        </p>


          <p>
            <span>
            We look forward to seeing you soon!
          </span>
      </p>




      </div>

    </div>
  </div>
</div>
</section>
