<h3 class="title">Check Our Ongoing Ministries</h3>

<div class="title-row"></div>



<div class="row" >

    <div class="card mb-4 m-2" style="max-width: 540px;" *ngFor="let content of contentArray let i = index">
      <div class="card-wrap row g-0">
        <div class="col-md-4">
          <img src="{{content.url}}" class="custom-img rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{content.title}}</h5>
            <p class="card-text">{{content.brief}}</p>
            <p class="card-text"><small class="text-body-secondary">from &nbsp;{{content.startDate}}</small></p>
            <div class="arrow" #arrow
                 (click)="expanderItemClick(i)"><i class="fa-sharp fa-solid fa-caret-down"></i></div>
          </div>

        </div>
        <div class="detail"  [@animate_transparency]="{value: i === currentIndex} ">
          <p *ngIf="currentIndex === i">
            {{content.detail}}
          </p>

          <div class="xMark"
               (click)="xButtonClick()"><i class="fa-solid fa-circle-xmark"></i></div>
      </div>
      </div>







</div>

</div>
