<div id="jumbotron" #jumbotron>


  <video [autoplay]="true" [muted]="true" [loop]="true" src="/assets/sample2%20(1).mp4">
  </video>
  <div
    class="jumbotron_text_box">
    <div class="wrap">
      <div class="text-wrap">
        <h2>SUNRISE CHRIST COMMUNITY CHURCH</h2>
        <h5>"Blessings to you all in the Powerful and Loving Name of Jesus"</h5>
      </div>
      <div class="btn_wrap">
        <a class="Btn_link" routerLink="/visitorsInfo" >Plan for Visit &nbsp;<b> > </b></a>
        <a class="Btn_link" (click)="goTo('newsActivities','SermonList')" >Sunday Service &nbsp;<b> > </b></a>
      </div>
    </div>

  </div>

  <div class="mouse"> <i class=" fa-solid fa-computer-mouse"></i></div>
</div>

<app-intro></app-intro>

<app-recent-events></app-recent-events>

<style>
  video{
    position: relative;
    width: 100%;
    z-index: 0;
  }
</style>
