<section id="jumbotron">

  <div
    [@animate_transparency]="{value: isViewDetailsTriggered}"
    class="container jumbotron_text_box">
    <h2>SUNRISE CHRIST COMMUNITY CHURCH</h2>
    <h2>"Blessings to you all in the Powerful and Loving Name of Jesus"</h2>
    <p>WELCOME TO SUNRISE UNITED METHODIST CHURCH WHERE WE “SHARE GOD’S SHINING LIGHT”, WHICH IS FOUND IN JESUS CHRIST (JOHN 8:12)</p>
    <p></p>
    <div class="btn_wrap">
      <a class="Btn_link" routerLink="/visitorsInfo" >Go & Plan for Visit &nbsp;<b> > </b></a>
      <a class="Btn_link" routerLink="/newsActivities/sermonDetail/1" >Recent Sunday Service &nbsp;<b> > </b></a>
    </div>

  </div>

  <div class="mouse"> <i class=" fa-solid fa-computer-mouse"></i></div>
</section>

<app-intro></app-intro>
