

<section class="section-bg-dark">
  <div class="container">

    <table mat-table [dataSource]="datasource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">{{element.date | date:'yyyy-MM-dd'}}</td>
        <!--      | date:'yyyy-MM-dd'-->
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef=" let element"><button (click)="moveToSermon(element.id)" type="button" class="btn btn-secondary">View</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isLoading">
      <app-loading-mark></app-loading-mark>
    </ng-container>
    <mat-paginator
      [length] = "length"
      [pageSize]="10"
      [showFirstLastButtons] = true
      [pageSizeOptions]="[5,10,20]"
      [pageIndex]="currentPage"
      (page) ="handlePageEvent($event)"
    >
    </mat-paginator>

  </div>


</section>
