<div class="row">

  <div *ngFor="let contentItem of contentsItems; let i = index" class="col-lg-4 circle-wrap" >
    <div #contentCircle class="round-circle" [style.background]="'url('+contentItem.url+')'"
         [style.background-size]="'cover'"
    (mouseenter)="mouseEnter(contentTitle)"
    (mouseleave)="mouseLeave(contentTitle)"
    (click)="mouseToggle(i, contentTitle)">
      <div #contentTitle  class="overlay"  [ngClass]="{'bubble-clicked': i === toggledContent}" >
        <h5>{{contentItem.title}}</h5>
      </div>
    </div>

  </div>


</div>
