.spinner-wrap{
  display: flex;
  justify-content: center;
}
.text-wrap{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;

}
.spinner-border{
  width: 5rem;
  height: 5rem;
  border-width: 1rem;
  color: gray;
}
