/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://webfontworld.github.io/cookierun/CookieRun.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

@font-face{
  font-family:'LotteMartHappyme';
  font-style:normal;
  font-weight:400;
  src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'),
  url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}

/* styles.css */

main{
  position: relative;
}




section{
  font-size: 17px;
  color: #1e2125;
  background: white;
  padding: 3rem 0;
  /*background: #1e2125;*/
}


.router-active{

  border-bottom: 2px solid azure;
  cursor: pointer;
}


.fc .fc-col-header-cell-cushion {

  color: black;
}
.fc-event-title-container{
  height: 1.3rem !important;
}


.fc .fc-daygrid-day-number {
  color: black;
}
.fc-event-main{
  background-color: #ffffe0 !important;
  color: black !important;
}

.fc-h-event{
  border: none !important;
}

.fc-daygrid-event{
  white-space: break-spaces;
}


/*얘네들은 main css에 넣어야 적용되서 main css에 넣어놓음*/
.fc-h-event .fc-event-title{
  color: black !important;
  font-weight: bold !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-size: 0.7rem !important;
}


.fc-dayGridWeek th.fc-day-header.fc-widget-header.fc-sun {
  background-color: #f2fe8a; /* 일요일의 배경색을 변경 */
}

@media  screen and (max-width: 768px) {
  .fc-event-title{
    font-size: 0.6rem !important;
  }
  .fc-event-title-container{
    height: 1.3rem !important;
  }
}

:root{
  --fc-today-bg-color: rgba(155, 50, 0, 0.15);
  --fc-neutral-text-color: black;
  --fc-border-color: darkGrey;
  --bs-link-color-rgb: 255, 0, 0;
}


.bg-gray{
  background-color: lightgrey;
}


