.display-outlet{
  margin-top: 2rem;
  position: relative;
  border-radius: 2rem;

  border: 2px solid black;
  height: 350px;
  background: rgba(255,255,255,0.7);
}

.content-wrap{
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.detail{
  margin-top: 2rem;
}

.pic{
  display: flex;
  width: 100%;
  height: 346px;
  border-radius: 1.5rem 0 0 1.5rem ;

}
.detail{

  width: 100%;
  height: 100%;

}
h4{
  color: #ed4848;
  width: 80%;
  margin: 0 auto;
}

p{
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}

.col-lg-7{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

@media (max-width: 767px) {
  .display-outlet{
    height: 750px;
  }

  .col-lg-6{
    margin-top: 1rem;
  }
  h4{
    margin-top: 2rem;
  }
  .pic{
    border-radius: 1.5rem 1.5rem 0 0 ;
  }

}
