<div class="container">
  <div class="display-outlet">
    <div *ngFor="let contentItem of contentItems; let i = index" class="content-wrap row"
    [ngStyle]=" {'opacity': toggledIndex === i ? '1' : '0'} " >
      <div class="col-lg-5">
        <img class="pic" src="{{contentItem.detailUrl}}" alt="">
      </div>
      <div class="col-lg-7">
        <div class="title">
          <h4>{{contentItem.detailTitle}}</h4>
        </div>
        <div class="detail">
          <p>
            Theme: Jesus' Ministry
            Leap of Faith: I know that God sent Jesus to teach me how to live.
            Scripture: We know that God has sent you to teach us. You could not work these miracles unless God were with you.
          </p>
          <p>(John 3:2)</p>
        </div>
      </div>
    </div>

  </div>
</div>
