<section class="bg-gray">
<!--  <input #inputDate type="date">-->
<!--  <button (click)="test()">test</button>-->


  <div class="container">

    <form (ngSubmit)="onSubmit(myForm.value)" #myForm = "ngForm">

      <h1 class="mb-5">Event Calendar Control Panel</h1>
      <label class="form-label">Title</label>
      <input class="form-control" type="text" name="title" ngModel required>

      <label class="form-label">Date</label>
      <input class="date form-control" type="date" name="date" ngModel required>

      <label class="form-label">Time</label>
      <div class="time-wrap">
        <input class="hour form-control" type="number" name="hour"
               min="0" max="24" ngModel required
               [(ngModel)]="hour"
        >
        <p>&nbsp;:&nbsp;</p>
        <input class="min form-control" type="number" name="min"
               min="0" max="59" ngModel required
               [(ngModel)]="min">
        <select name="type" [(ngModel)]="ampm" required  class="form-control ampm"  name="ampm">
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>


      <label  class="form-label">Description</label>
      <textarea  class="form-control" name="description" ngModel required>
    </textarea>

      <label class="form-label">TitlePhoto</label>
      <div class="input-group mb-3">
        <label class="input-group-text" >Upload</label>
        <input id="images" type="file" accept="image/*" (change)="onFileInputChange($event)"  #fileInput>
        <label class="file-label">
          <span *ngIf="!fileInput.value">Choose a file...</span>
          <span *ngIf="fileInput.value">{{fileInput.value}}</span>
          <button type="button" (click)="upload()">upload</button>
        </label>
      </div>

      <div class="input-group-submit">
        <select [(ngModel)]="selectedEventType" ngModel required name="eventType">
          <option [ngValue]="1" > Non Recurring Event</option>
          <option [ngValue]="2">Weekly Recurring Event</option>
          <option [ngValue]="3">Monthly Recurring Event</option>
        </select>
        <button
          type="submit" class="btn btn-primary" [disabled]="!myForm.valid && (photoInput===undefined)" >Submit</button>
      </div>


    </form>

    <div class="autopop-wrap">
    </div>

  </div>




</section>
