<app-page-title #ministryTitle></app-page-title>
<section>
  <div class="container">

    <div class="container helping-others">
      <div class="box">
        <div class="container p-3 cover">
          <h5 class="mt-2">HELPING OTHERS</h5>
          <blockquote class="blockquote">
            <p class="mb-0">You, my brothers, were called to be free. But do not use your freedom to indulge the sinful nature; rather, serve one another in love.</p>
            <footer class="blockquote-footer">Galatians 5:13<cite title="Source Title"></cite></footer>
          </blockquote>
        </div>

      </div>
    </div>

    <app-section-title #sectionTitle></app-section-title>

    <div class="intro-statement">
      <p>Sunrise has an active prayer chain of prayer "warriors". If you would like to be added to our list of active members, please call Brad in the office.
        May we pray for you? If you have a joy or a concern you would like us to pray for, please call us at the office at (253) 815-6925 during office hours.
        Outside of office hours, call the office and leave a message. Or you can e-mail Brad at office&#64;sunriseunitedmethodist.org. Please include your name,
        the name of the person to be prayed for and what you would like us to pray about.
      </p>
    </div>
    <app-expanding-card #cardComponent
      [contentArray]="contentItems"
    ></app-expanding-card>
  </div>
</section>



